<!-- <div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <h1 align="center">SaaS Client Portal for BetterOn</h1>
      <hr>

    </div>
    <div class="col"></div>
  </div>
</div> -->

<div class="container top-buffer">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">SaaS Client Portal for BetterOn</h1>
      <p class="lead">BetterOn is a training service that helps people be more authentic on camera. I developed the client portal MVP (minimum viable product) using Ruby on Rails. This allows users to login, watch their videos, and interact with coaches. I'm currently managing the new features backlog and developing new features for the v2. </p>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/1.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/2.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/3.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/4.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/5.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/6.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <%= image_tag 'betteron/7.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>



</div>


