<div class="container top-buffer">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Generative Music Project using Max/MSP</h1>
      <p class="lead">Using generative techniques, this program creates new music based on a set of inputs. I applied interdependent stochastic processes that generates the background and melody.</p>
    </div>
  </div>

  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The entire system</p>
      <%= image_tag 'msp.jpg', size: '960x640', class: "img-shade" %>
    </div>
  </div>


  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The slice subsystem: defines the parameters of sampling</p>
      <%= image_tag 'slice-sub.png', size: '600x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The recording subsystem: the mechanism that enables recording and saving of samples onto hard-drive</p>
      <%= image_tag 'record-sub.png', size: '850x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The setup subsystem: populates the polybuffer with our samples</p>
      <%= image_tag 'setup-sub.png', size: '560x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The background subsystem: Creates the harmonic canvas based on samples</p>
      <%= image_tag 'background-sub.png', size: '800x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The transient-analysis subsystem: makes smooth cuts to the melodic samples</p>
      <%= image_tag 'transient-analysis-sub.png', size: '960x640', class: "img-shade" %>
    </div>
  </div>
  <div class="row top-buffer">
    <div class="col" align="center">
      <p>The melodic subsystem: generates the melodic ideas using convolution of samples with pitch</p>
      <%= image_tag 'melodic-sub.png', size: '700x740', class: "img-shade" %>
    </div>
  </div>


</div>
