<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-10">
      <h1 align="center">My projects</h1>
      <hr>
    </div>
    <div class="col"></div>
  </div>
</div>

<div class="row">
  <div class="col" align="center">
    <%= link_to page_path('gtive') do %>
        <%= image_tag 'msp.jpg', size: '480x320', class: "img-shade" %>
    <% end %>
    <br><br>
    <%= link_to 'Generative Music Project using Max/MSP', page_path('gtive')%>
  </div>
  <div class="col" align="center">
    <%= link_to page_path('betteron') do %>
        <%= image_tag 'code.jpg', size: '480x320', class: "img-shade" %>
    <% end %>
    <br><br>
    <%= link_to 'SaaS Client Portal for BetterOn', page_path('betteron')%>
  </div>
</div>

<div class="row" style="margin-top: 50px">
  <div class="col" align="center">
    <%= link_to page_path('boebot') do %>
        <%= image_tag 'bot.png', height: '400', width: '350', class: "img-shade" %>
    <% end %>
    <br><br>
    <%= link_to 'Duke University Integrated Design Challenge', page_path('boebot')%>
  </div>
  <div class="col" align="center">

  </div>
</div>

<div class="row"></div>
